{
  "extends": ["airbnb", "prettier"],
  "plugins": ["prettier"],
  "env": {
    "browser": true,
    "node": true
  },
  "rules": {
    "react/jsx-filename-extension": "off",
    "react/prefer-stateless-function": "off",
    "prettier/prettier": "error"
  },
  "parser": "babel-eslint",
  "overrides": [
    {
      "files": ["src/server/migrations/*.js", "src/server/seeders/*.js"],
      "rules": {
        "strict": "off",
        "lines-around-directive": "off"
      }
    }
  ]
}
